form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

label {
  gap: 5px;
}

.editor {
  min-height: 100px !important;

  & * {
    word-wrap: break-word !important;
    word-break: break-all !important;
  }
}
