.card {
  display: flex;
  align-items: center;
  border: 1px solid var(--tui-base-07);
  border-radius: 8px;
  padding: 10px;
  gap: 20px;
  flex-direction: column;
}

.panel {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 auto;
  }
}

.title {
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  margin-inline-end: auto;
}

@media (min-width: 768px) {
  .card {
    flex-direction: row;
  }

  .panel {
    width: auto;
    flex-wrap: nowrap;

    & > * {
      flex-basis: auto;
    }
  }
}
