header {
  background-color: var(--tui-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 30px;
  padding-block: 10px;
  gap: 40px;

  & * {
    color: var(--tui-text-01-night);
    text-decoration: none;
  }
}

.courses,
.userInfo {
  display: flex;
  gap: 25px;
  align-items: center;
}

.userInfo * {
  font: var(--tui-font-text-xl);
}

.courses {
  margin-inline-end: auto;

  & * {
    font: var(--tui-font-text-l);
  }
}
