.form {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 1200px;
}

tui-error {
  font: var(--tui-font-text-m);
}

@media (min-width: 768px) {
  label {
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 20px;
  }
}
