.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

@media (max-width: 768px) {
  .panel {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
