@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.panel {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

@media #{$tui-tablet-min} {
  .panel {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
