.group {
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .adding {
    width: fit-content;
  }
}
