.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -10px;
}

.loader {
  height: 100%;
}
