.tabs {
  display: none;
  justify-content: space-around;
}

.important-notification {
  background-color: var(--tui-error-fill);
}

@media (min-width: 768px) {
  .tabs {
    display: flex;
  }

  .select {
    display: none;
  }
}
