<section class="wrapper">
  <tui-tabs [(activeItemIndex)]="valueIndex" class="tabs">
    <button tuiTab *ngFor="let tab of tabVariants">
      {{ tab.text }}
    </button>
  </tui-tabs>
  <tui-select
    class="select"
    [tuiTextfieldLabelOutside]="true"
    [(ngModel)]="valueIndex"
    [valueContent]="tabVariants[valueIndex].text">
    <tui-data-list *tuiDataList>
      <button *ngFor="let tab of tabVariants; let index = index" tuiOption [value]="index">
        {{ tab.text }}
      </button>
    </tui-data-list>
  </tui-select>
  <div class="content">
    @switch (tabVariants[valueIndex].key) {
      @case (ContentType.Annotations) {
        <div [innerHTML]="safeAnnotation"></div>
      }
      @case (ContentType.Requirements) {
        <div [innerHTML]="safeRequirements"></div>
      }
      @case (ContentType.Notifications) {
        <button (click)="handleCreateNotification()" size="m" tuiButton>Создать уведомление</button>
        <ul>
          @for (notification of notifications; track $index) {
            <li class="notification">
              <tui-svg class="icon" *ngIf="notification.isImportant" src="tuiIconAlertCircle"></tui-svg>
              <span>{{ notification.text }}</span>
            </li>
            <hr />
          }
        </ul>
      }
    }
  </div>
</section>
