<section class="wrapper">
  <adaptive-tabs [tabsVariants]="tabVariants" [(valueIndex)]="valueIndex"></adaptive-tabs>

  <div class="content">
    @switch (tabVariants[valueIndex].key) {
      @case (ContentType.Teachers) {
        <button class="teacherAdding" tuiButton *ngIf="isUserCanEdit" (click)="handleAddTeacher()">
          Добавить преподавателя
        </button>
        <ul>
          <li *ngFor="let teacher of teachers">
            <div class="teacherHead">
              <h2>{{ teacher.name }}</h2>
              <tui-badge *ngIf="teacher.isMain" status="success" value="основной" size="m"></tui-badge>
            </div>
            <p class="secondary">{{ teacher.email }}</p>
          </li>
        </ul>
      }
      @case (ContentType.Students) {
        <ul>
          <li class="student" *ngFor="let student of students">
            <div>
              <h2>{{ student.name }}</h2>
              <p>
                Статус -
                <span [style]="{ color: getStudentStatusColor(student.status) }">
                  {{ translateStudentStatus(student.status) }}
                </span>
              </p>
              <p class="secondary">{{ student.email }}</p>
            </div>
            @switch (student.status) {
              @case (StudentStatuses.Accepted) {
                <div class="marks">
                  <div>
                    <p>Промежуточная аттестация</p>
                    <tui-badge
                      [status]="getMarkBadgeStyle(student.midtermResult)"
                      [value]="translateStudentMark(student.midtermResult)"></tui-badge>
                  </div>
                  <div>
                    <p>Финальная аттестация</p>
                    <tui-badge
                      [status]="getMarkBadgeStyle(student.finalResult)"
                      [value]="translateStudentMark(student.finalResult)"></tui-badge>
                  </div>
                </div>
              }
              @case (StudentStatuses.InQueue) {
                <div class="applicationPanel">
                  <button size="m" tuiButton>Принять</button>
                  <button size="m" appearance="error" tuiButton>Отклонить заявку</button>
                </div>
              }
            }
          </li>
        </ul>
      }
    }
  </div>
</section>
