<section class="wrapper">
  <adaptive-tabs [tabsVariants]="tabVariants" [(valueIndex)]="valueIndex"></adaptive-tabs>

  <div class="content">
    @switch (tabVariants[valueIndex].key) {
      @case (ContentType.Teachers) {
        <button class="teacherAdding" tuiButton *ngIf="isUserCanEdit" (click)="handleAddTeacher()">
          Добавить преподавателя
        </button>
        <ul>
          <li *ngFor="let teacher of teachers">
            <div class="teacherHead">
              <h2>{{ teacher.name }}</h2>
              <tui-badge *ngIf="teacher.isMain" status="success" value="основной" size="m"></tui-badge>
            </div>
            <span class="teacherSecondary">{{ teacher.email }}</span>
          </li>
        </ul>
      }
      @case (ContentType.Students) {
        <ul></ul>
      }
    }
  </div>
</section>
