<div class="wrapper">
  <h2 class="tui-text_h4">Редактирование курса</h2>
  <hr />
  @if (userRole === CourseUserRoles.Admin) {
    <course-details-form [initValues]="initValues" (emitSubmit)="handleEditCourse($event)"></course-details-form>
  } @else if (userRole === CourseUserRoles.Teacher || userRole === CourseUserRoles.MainTeacher) {
    <require-and-annotation-edit
      [requirement]="initValues.requirements"
      [annotation]="initValues.annotations"
      (emitSubmit)="handleEditRequirementAndAnnotation($event)"></require-and-annotation-edit>
  }
</div>
